.room {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: fit-content;

  gap: 2em;
}
.contacts::-webkit-scrollbar {
  display: none;
}
.contacts {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 50%;
  height: 10em;
  border: 1px solid black;
  border-radius: 15px;
  overflow-y: scroll;
}
